.stations{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.station{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: aqua;
    padding: 10px;
    margin: 10px;
}

.sensors{
    display:flex;
    flex-direction: row;
    padding: 10px;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content{
    color: white;
    z-index: 1;
    padding-top: .1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-top: 5em;
    margin-right: 5em;
    margin-left: 5em;
    border-radius: 1em;
    background-color: rgba(51, 57, 64, 0.8);
}

.particles{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.sensorDiv{
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.history {
    padding-left: 20px;
}